<% include ./base.ejs %>

<body>
    <h1>Simple API</h1>
    <p>GET /api/v1/do/readings/recent</p>
    <p>GET /api/v1/do/readings/last</p>
    <p>GET /api/v1/do/readings/query</p>
    <p>GET /api/v1/harvests</p>
    <p>GET /api/v1/harvests/:id</p>
</body>
